@import url("https://fonts.googleapis.com/css?family=Rubik:regular&display=swap");
@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url(reset.css);
body{
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal
    
}
.header {
    color: brown;
    font-size: 20px;
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}
.main {
    color:blueviolet;
}
.about-bad {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    color: darkgreen;

}
#evolution-bed{
    color: crimson;
    font-size: 25px;
}
.about-choosing-bed {
    color: rgb(43, 41, 41);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
#choose-bed{
    font-family: Proxima Nova;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.design {
    color: rgb(43, 41, 41);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.design h2{
    font-family: Proxima Nova;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
.design h3{
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.footer {
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}