@import url(reset.css);
.header {
    color: blueviolet;
}
.navigation {
}
.main {
    color: rgb(11, 6, 43);
}
.about-ukraine{
    color: cornflowerblue;
}
#about-facts{
    color: aqua;
}
.miraculous-facts{
    color: cornflowerblue;
}
#amazing-facts{
    color: aqua;
}
#best-country {
    color: chocolate;
}