@import url(reset.css);
.header {
    color: blueviolet;
}
.navigation {
}
.main {
    color: rgb(120, 6, 80);
}
.about-ukraine{
    color: cornflowerblue;
}
#about-facts{
    color: aqua;
}
.miraculous-facts{
    color: cornflowerblue;
}
#amazing-facts{
    color: aqua;
}
#best-country {
    color: chocolate;
}