@import url(fonts.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,&display=swap);
@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,500,700&display=swap);
@import url(reset.css);
.header{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.living-room-design {
    color: rgb(43, 41, 41);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    background: rgb(248, 248, 248);
    padding-bottom: 80px;
}
.living-room-design-container {
    width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}
.design h2{
    font-family: Proxima Nova;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.img-appartments {
    max-width: 1070px;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}
.about-living-room {
    margin-bottom: 30px;
}
.about-living-room p:first-child{
    margin-bottom: 11px;
}
.store-selection {
    margin-bottom: 40px;
}
.store-selection h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 30px;
}
.store-selection li{
    padding-left: 47px;
    margin-bottom: 20px;
    background: url('../img/living-room-design/Vector.png') no-repeat;
}
.eduplay {
    background: rgb(145, 76, 255);

}
.eduplay-container {
    width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    background: url("../img/EduPlay/Alphabet\ Patterns.svg") right/contain no-repeat;
}
.eduplay-text {
    display: inline-block;
    padding: 121px 0px;
    width: 600px;
    margin-right: 120px;
    
    
}
.eduplay-text h3{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
    
}
.eduplay-text p{
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 24px;
}
.eduplay-text a {
    color: rgb(13, 18, 22);
    font-family: Quicksand;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 12px 20px 12px 40px;
    background: #FFF url(../img/EduPlay/button-label-x2.png) no-repeat 8% / 20px;
    width: 217px;
    text-align: center;
    
    
}
.eduplay-img {
    display: inline-block;
    width: 547;
    height: 530px;
    vertical-align: top;
}
.eduplay-img img{
    vertical-align: top;
}
.coral {
    background: rgba(30, 40, 50, 0.05);
    margin-top: 50px;
    background: url("../img/coral/flower-pattern.png")  center / contain no-repeat;
    padding: 70px;
}
.coral-container {
    width: 1256px;
    padding: 0 15px;
    margin: 0 auto;

}
.coral-text {
    font-family: Roboto;
    width: 686px;
    display: inline-block;
    margin-top: 74px;
    margin-right: 98px;
}
.coral-text h3{
    font-size: 74px;
    font-weight: 300;
    line-height: 55px;
    margin-bottom: 52px;
}
.coral-text p{
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    text-transform: capitalize;
    margin-bottom: 66px;
}
.coral-text a{
    background: url("../img/coral/bag.svg") no-repeat 19px / 24px;
    background-color: rgb(30, 40, 50);
    color: rgb(255, 255, 255);
    padding: 19px 26px 19px 64px;
    max-width: 223px;
    font-size: 29px;
    font-weight: 400;
    line-height: 34px;
    margin-left: 4px;
} 
.coral-img {
    max-width: 442px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 160px 0px 160px 0px;
    

}
.coral-img img{
    margin: -20px 18px 20px -18px;
    vertical-align: top;
    border-radius: 160px 0px 160px 25px;
}
