@import url("https://fonts.googleapis.com/css?family=Rubik:regular&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(fonts.css);
@import url(reset.css);
.header{
    color: rgb(10, 10, 81);
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.design {
    color: rgb(43, 41, 41);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width:1070px;
    margin: 0 auto;
    
}
.design h2{
    font-family: Proxima Nova;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 40px 0;
    overflow: hidden;
}
.img-appartments{
    max-width: 100%;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}
.about-living-room :first-child{
    margin-bottom: 10px;
}
.about-living-room :nth-child(2n){
    margin-bottom: 40px;
}
.design h3{
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.store-selection h3{
    margin-bottom: 30px;
}
.store-selection li{
    margin-bottom: 20px;
    padding-left: 47px;
}
.krovato-it {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 70px;
}
.krovato-it h3{
    margin: 0px 0px 40px 0px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}
.about-krovato {
    margin: 0 -15px;
    font-size: 0;
    text-align: center;
}
.about-krovato div{
    display: inline-block;
    width: 300px;
    margin-right: 15px;
    text-align: center;
}
.kravato-list img{
    max-width: 170px;
    margin-bottom: 20px;
}
.kravato-list h4{
    margin: 0px 0px 20px 0px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.31;
}
.about-krovato .item p{
    font-size: 16px;
    line-height: 1.87;
}
.item{
    width: 300px;
    min-height: 485px;
    display: inline-block;
    margin: 0px 15px 30px 15px;
    vertical-align: top;
}
.instagram {
    background: rgba(30, 40, 50, 0.05);
    margin-bottom: 40px;

}
.instagram-container {
    
    width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;

    
}
.instagram-container div{
    margin: 0 -10px;

}
.instagram-container h4 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    margin-bottom: 60px;
}

.img-product{
    margin-right: 24px;
    margin-bottom: 40px;
}
.footer {
    color:blue;
}